/* #region globals, variables and imports */
@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');

$white: #fcfbfc;
$gray: #ededed;
$lightblack: #333333;
$black: #212121;
$darkblue: #32538b;
$lightblue: #4f74b4;
$darkyellow: #e4b834;
$yellow: #ffd51b;
$headerfontstack: Smooch sans, sans-serif;
$contentfontstack: Montserrat, sans-serif;
// sass --watch styles.scss styles.css 

@mixin flexcolumn {
    display: flex;
    flex-direction: column;
}

@mixin flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin gridmobile($columns: repeat(1, 1fr)) {
    display: grid;
    grid-template-columns: $columns;
} 

* {
  box-sizing: border-box;
}

span {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerfontstack;
  font-weight: 600;
  color: $lightblue;
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
  padding: 1rem;
  color: $lightblue;
}

p {
  font-family: $contentfontstack;
}

a {
  text-decoration: none;
  color: inherit;
}

 section > h2 {
  margin-left: 1rem;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0.5rem;
}
/* #endregion  */

/* #region header */

body {
  background-color: $gray;
  line-height: 1.3;
  // overflow-x: hidden;
}

#global-header {
  position: relative;
  // overflow: hidden;
}

#global-header #hero {
  width: 100%;
  // overflow: hidden;
}

#logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 50%;
  background-color: #ededed95;
  padding: 1rem;
}

/* #endregion */

/* #region nav */

nav {
  @include flexcolumn;
  background-color: $darkblue;
  font-family: $contentfontstack;
  font-weight: 400;
  margin-top: -0.5rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  ul {
    
    color: $darkyellow;
  }

  li {
    padding: 1rem 1rem;
    
    
  }
  
  
   a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
  }
  
}

nav ul li:hover  {
    background-color: $lightblue;
  }

#sign {
  li:first-of-type {
    background-color: $lightblue;
    color: $white;
  }
  li:last-of-type {
    background-color: $darkyellow;
    color: $black;
  }
}

/* #endregion */

/* #region form  */

.error {
  color: red;
  font-size: 0.85rem;
}

dialog {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  font-family: $contentfontstack;
  background-color: rgb(253, 253, 253);
  gap: 8px;
  width: 50%;
  margin: auto;
  margin-top: 32px;
  border: solid 1px rgba(22, 22, 22, 0.4);
  border-radius: 4px;
  padding: 12px;
  & > label {
    text-align: start;
    font-size: 1rem;
  }

  & > input, button {
    width: 100%;
    height: 32px;
    margin: auto;
    border-radius: 4px;
    padding-left: 8px;
    border: solid 1px rgba(22, 22, 22, 0.4);
  }
  & > input::placeholder {
    font-family: $contentfontstack;
  }
  & > input[type='submit'], input[type="reset"] {
    margin-top: 8px;
    transition: background-color 0.2s ease;
    font-family: inherit;
    &:hover {
      background-color: rgba(110, 170, 110);
      cursor: pointer;
      color: white;
    }

    
  }

  & > input[type="submit"] {
    background-color: $lightblue;
  }
  & > input[type="reset"] {
    background-color: red;
  } 
  & > input[type="reset"]:hover {
    background-color: rgb(143, 19, 11)
  }
}

/* #endregion  */

/* #region one  */

#section-one {
  @include gridmobile;
  width: 100%;
  // overflow: hidden;

  figure {
    background-color: $white;
    padding: 0.5rem;
   
    h2 {
      color: $lightblue;
      font-size: 2.5rem;
    }
  }

  figcaption {
    article {
      @include flexcolumn;
      gap: 0.5rem;
      

      h2 {
        align-self: top;
      }
    }

    a {
      color: inherit;
      font-family: $contentfontstack;
    }
  }
}

#section-one video {
  width: 100%;
}

/* #endregion  */

/* #region two */
#section-two h2 {
  font-size: 2.5rem;
  margin-left: 1rem
}

#imgGallery {
  @include gridmobile;
  background-color: $white;
  gap: 0.5rem;
  padding: 0.5rem;
  img {
    width: 100%;
    transition: 500ms ease-in-out;
  }
  
}
#imgGallery img:hover {
    filter: grayscale(100%)
  }
/* #endregion  */

/* #region three  */

#slider {
  position: relative;
  margin-top: 1.5rem;
}

#slider img {
  width: 100%;
}

#slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  color: #ffffff66;
  font-size: 3rem;
}

#slider button:first-of-type {
  left: 0;
}

#slider button:last-of-type {
  right: 0;
}

#cards {
  @include gridmobile;
  gap: 1rem;
}

.card {
  @include gridmobile;
  background-color: $white;
  padding: 0.5rem;
  img {
    width: 100%;
  }
}

.card figcaption{
  @include flexcolumn;
  gap: 1rem;
  
  footer {
    align-self: flex-end;
    margin: 0.5rem;
  }

  a {
    text-decoration: underline;
    color: $lightblue;
    font-family: $contentfontstack;
  }
}

/* #endregion  */

/* #region footer */

#global-footer {
  @include flexcolumn;
  background-color: $darkblue;
  padding: 1rem;
  gap: 0.5rem;
  overflow: hidden;
  h4 {
    color: $darkyellow;
    font-size: 2rem;
  }
  li {
    color: $white;
  }
  #socials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    img {
      width: 50%;
    }
  }
}

/* #endregion */ 

/* #region queries  */

/* #region screen  */

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
    ul {
      display: flex;
      flex-direction: row;
    }
  }
  #section-one figure {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    & figcaption article {
      margin-top: -0.75rem;
    }


  }

  #imgGallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }

  #cards {
    grid-template-columns: repeat(3, 1fr);
  }
  #cards figure {
    display: block;
  }
  #global-footer {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #section-one video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}
@media screen and (min-width: 1600px) {
  #section-one figure figcaption article {
    line-height: 1.5;
    font-size: 1.5rem;
  }
}

/* #endregion  */

/* #region tablet  */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #imgGallery {
    grid-template-columns: 1fr 1fr;
  }
nav {
    flex-direction: row;
    justify-content: space-between;
    ul {
      display: flex;
      flex-direction: row;
    }
  }
  .card {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .card img {
    height: 100%;
  }

  #global-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #global-footer > ul:last-of-type {
    @include flexcolumn;
    justify-content: space-between;
  }
}

/* #endregion  */

/* #endregion  */
